body{
  background-color: #1DA1F2;
  color: white;
  font-family: "Helvetica";
}

h1{
  font-size: 48px;
}

.third {
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 30%;
}

.fourth {
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 30%;
}

.fifth {
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 30%;
}

.background-image {
  background-image: url("http://cdn.wallpapersafari.com/41/66/2BmYyj.jpg");
  height: 600px;
}

h2 {
  font-size: 50px;
  text-align: center;
  position: relative;
  padding-top: 225px;
}

#copyright {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 5px;
  left: 0;
}
