.third {
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 30%;
}

.fourth {
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 30%;
}

.fifth {
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 30%;
}

html {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid;
}

#copyright {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 5px;
  left: 0;
}
